.app {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background: #666;
  position: relative;
}

.btn-add {
  position: absolute;
  top: 20px;
  right: 20px;
}
.add-form {
  display: none;
}

.recipe {

  .detail-view {
    display: none;
  }
}
