$background-color: #666;
$background-color-light: lighten($background-color, 10%);

.app {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  background: $background-color;
  position: relative;
}

.btn-add {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.add-form {

  position: absolute;
  top: 0;
  right:0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: height 1s;
  padding: 50px 0;
  max-width: 940px;
  margin: 0 auto;
  z-index: -1;
  :nth-child(1n) {
    display: none;

  }




}
.add-form-active {
  position: absolute;
  background: blue;
  opacity: .8;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: height 1s;
  :nth-child(1n) {
    display: block;
  }

}

.recipe-list {

  padding: 0 10px;
  transform: translateX(0);
  @media(min-width: 450px) {
    padding: 0 15px;
    column-count: 2;
    column-gap: 10px;
  }
  @media(min-width: 640px) {
    column-count: 3;
    column-gap: 15px;
  }
}



.recipe {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  opacity: .75;
  &:hover {
    opacity: 1;
    background: $background-color-light;
    box-shadow: 0px 5px 5px #333;
  }

  .detail-view {
    display: none;
  }

}
.recipe-selected {

  .detail-view {
    display: block;
  }
}
